<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="container">
    <h2><i class="fa-solid fa-gauge-high"></i> Admin Dashboard</h2>

    <div class="nav">
        <a href="/admin/add">
            <i class="fa-solid fa-plus"></i> Add Product
        </a>
        <a href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
        </tr>

        {% for p in products %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>₹{{ p.price }}</td>
            <td>{{ p.description }}</td>
            <td>
                <a href="/admin/delete/{{ p.id }}" class="danger">
                    <i class="fa-solid fa-trash"></i> Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
